In [61]:
import pandas as pd

In [5]:
uniprot_path = "G:\\CEGNN\\materials\\auniprot\\uniprot-interactor.xlsx"

In [7]:
data = pd.read_excel(uniprot_path, sheet_name =0)

In [8]:
data.head()

,Entry,Entry name,Status,Protein names,Length,Interacts with
0,Q8N8B7,TEANC_HUMAN,reviewed,Transcription elongation factor A N-terminal a...,351,Q9H257; Q8N4Y2; Q96S65; O75553; Q8IZU0; O95073...
1,Q1MTQ1,TEA2_SCHPO,reviewed,Kinesin-like protein tea2 (Kinesin-like protei...,628,Q10113; P79065
2,P28707,SBA1_YEAST,reviewed,Co-chaperone protein SBA1,216,P02829
3,P30873,SSR1_MOUSE,reviewed,Somatostatin receptor type 1 (SS-1-R) (SS1-R) ...,391,Q62108
4,Q99598,TSNAX_HUMAN,reviewed,Translin-associated protein X (Translin-associ...,290,Q12904; Q8TDH9; Q9H257; O95257; Q6P597; O43679...

In [30]:
data["Entry"].unique().shape

(23080,)

In [24]:
prot_prot = []

for index, row in data.iterrows():
    entry = row["Entry"]
    interactions = row["Interacts with"].split(";")
    for x in interactions:
        if x == "Itself":
            x = entry
        prot_prot.append([entry, x])

In [25]:
import numpy as np
prot_prot = np.array(prot_prot)

In [26]:
prot_prot

array([['Q8N8B7', 'Q9H257'],
       ['Q8N8B7', ' Q8N4Y2'],
       ['Q8N8B7', ' Q96S65'],
       ...,
       ['Q71B31', 'Q71B31'],
       ['Q8UN00', 'P29590'],
       ['Q8UN00', ' Q60953']], dtype='<U13')

In [27]:
s = pd.DataFrame(prot_prot, columns=["prot1", "prot2"])

In [28]:
s.to_csv("uniprot_interactions.csv", sep="\t", encoding="utf-8", index=False)

In [31]:
prot_all = s["prot1"].tolist()

In [36]:
prot_all = prot_all + s["prot2"].tolist()

In [37]:
len(prot_all)

174178

In [38]:
prot_all = list(set(prot_all))

In [39]:
len(prot_all)

41128

In [49]:
prot_index = []
index = 0
for x in prot_all:
    
    prot_index.append([index, x])
    index+=1

In [51]:
pi = pd.DataFrame(np.array(prot_index), columns=["index","prot"])

In [53]:
pi.to_csv("index_uniprot.csv", sep="\t", encoding="utf-8", index=False)

In [57]:
node2index = {str(row["prot"]): str(row["index"]) for _, row in pi.iterrows()}
node_node = s[["prot1", "prot2"]].astype(str)
index2index = node_node[["prot1", "prot2"]].applymap(lambda x: node2index[x])

In [60]:
index2index.to_csv("prot_index2index.csv", sep="\t", encoding="utf-8", index=False)

In [62]:
index2index.head()

   prot1  prot2
0  20110  13726
1  20110  38810
2  20110  28281
3  20110  23586
4  20110  32551

In [63]:
index2index2 = index2index

In [64]:
index2index2["weight"] = 1

In [65]:
index2index2.to_csv("prot_index2index_weight.csv", sep="\t", encoding="utf-8", index=False, header=False)