In [1]:
import pandas as pd

In [ ]:
"""
用于构造cui-label数据集，对原始数据集进行采样，构造出一个小一些的图
"""

umls_sty = pd.read_csv("G:\\CEGNN\\materials\\umls\\umls_sty.csv",
                       names=["cui", "sty"], delimiter="|", index_col=["cui"], encoding="utf-8")

In [19]:
umls_sty_group = umls_sty.groupby("sty")

In [20]:
umls_sty

                                    sty
cui
C0678220             Clinical Attribute
C0424678             Clinical Attribute
C0178519             Clinical Attribute
C0699860             Clinical Attribute
C0700043             Clinical Attribute
...                                 ...
C1981256  Biologically Active Substance
C1976958             Clinical Attribute
C1979173             Clinical Attribute
C1963847            Disease or Syndrome
C1980800                         Enzyme

[3724194 rows x 1 columns]

In [21]:
umls_sty_group.groups

{'Amino Acid, Peptide, or Protein': Index(['C0008546', 'C0010288', 'C0010744', 'C0010749', 'C0015680', 'C0022920',
        'C1176473', 'C0072630', 'C0600708', 'C0051066',
        ...
        'C2003586', 'C1988971', 'C1990513', 'C1990554', 'C1980964', 'C2000717',
        'C2002804', 'C1991135', 'C2003743', 'C2002278'],
       dtype='object', name='cui', length=143110),
 'Bacterium': Index(['C0017633', 'C0031768', 'C0085443', 'C0085452', 'C0085453', 'C0677514',
        'C0682464', 'C0682465', 'C0682466', 'C0682468',
        ...
        'C1985695', 'C1973271', 'C1973897', 'C1988339', 'C1991251', 'C1993249',
        'C1996964', 'C1982070', 'C1982066', 'C1988870'],
       dtype='object', name='cui', length=383775),
 'Biologically Active Substance': Index(['C1176473', 'C0049776', 'C0055080', 'C0062438', 'C0069883', 'C0601237',
        'C0075228', 'C0069485', 'C0072172', 'C0076747',
        ...
        'C2000992', 'C2001865', 'C2003491', 'C2003536', 'C1988534', 'C2001761',
        'C1973985', 'C2003361', 'C2003801', 'C1981256'],
       dtype='object', name='cui', length=72093),
 'Bird': Index(['C0326299', 'C0325913', 'C0175862', 'C0175863', 'C1828092', 'C0871312',
        'C0326586', 'C0325331', 'C0446377', 'C0999148',
        ...
        'C1903222', 'C1903223', 'C1903233', 'C1904351', 'C1904352', 'C1905251',
        'C1911544', 'C1948000', 'C1948007', 'C1504059'],
       dtype='object', name='cui', length=25825),
 'Body Location or Region': Index(['C0221914', 'C0221915', 'C0221916', 'C0221930', 'C0221935', 'C0221942',
        'C0221993', 'C0222000', 'C0222071', 'C0222596',
        ...
        'C1883075', 'C1959679', 'C1959674', 'C1959676', 'C1442277', 'C1442400',
        'C1442401', 'C1963703', 'C1995000', 'C0460009'],
       dtype='object', name='cui', length=26080),
 'Body Part, Organ, or Organ Component': Index(['C0221911', 'C0221919', 'C0221927', 'C0221932', 'C0221933', 'C0221934',
        'C0221936', 'C0221938', 'C0221939', 'C0221940',
        ...
        'C1995016', 'C1997974', 'C1972718', 'C1976575', 'C1976576', 'C1997042',
        'C0022742', 'C1996920', 'C1991713', 'C0014540'],
       dtype='object', name='cui', length=90214),
 'Cell Function': Index(['C0678672', 'C0678716', 'C0678721', 'C0678722', 'C0678725', 'C0678833',
        'C0678834', 'C0678836', 'C0678837', 'C0678838',
        ...
        'C1749558', 'C1856672', 'C1849169', 'C1536403', 'C1955895', 'C1961142',
        'C1979804', 'C1973596', 'C1972356', 'C1993217'],
       dtype='object', name='cui', length=19748),
 'Clinical Attribute': Index(['C0678220', 'C0424678', 'C0178519', 'C0699860', 'C0700043', 'C0728839',
        'C0439377', 'C0442709', 'C0449840', 'C0449841',
        ...
        'C1979481', 'C1978630', 'C1977687', 'C1978286', 'C1979172', 'C1978685',
        'C1979430', 'C1977186', 'C1976958', 'C1979173'],
       dtype='object', name='cui', length=90640),
 'Clinical Drug': Index(['C0059078', 'C0602894', 'C0603637', 'C0065143', 'C0206948', 'C0351819',
        'C0073384', 'C0281425', 'C0281426', 'C0612923',
        ...
        'C1966696', 'C1967163', 'C1967286', 'C1967631', 'C1967658', 'C1967729',
        'C1967903', 'C1968163', 'C1967290', 'C1965297'],
       dtype='object', name='cui', length=234982),
 'Congenital Abnormality': Index(['C1176459', 'C0265195', 'C0541413', 'C0265244', 'C0541420', 'C0541421',
        'C0541422', 'C0229547', 'C0393791', 'C0393990',
        ...
        'C1996981', 'C1971816', 'C1997202', 'C2004426', 'C1997453', 'C1997381',
        'C1997429', 'C0266617', 'C1997299', 'C1290511'],
       dtype='object', name='cui', length=10371),
 'Diagnostic Procedure': Index(['C0197944', 'C0197946', 'C0197948', 'C0197963', 'C0197965', 'C0198024',
        'C0198059', 'C0198123', 'C0198131', 'C0198282',
        ...
        'C1998073', 'C1998271', 'C0581107', 'C0562271', 'C0037804', 'C0430551',
        'C1964165', 'C1994941', 'C1994944', 'C1997441'],
       dtype='object', name='cui', length=50163),
 'Disease or Syndrome': Index(['C0024748', 'C0851341', 'C0031269', 'C0037272', 'C0541398', 'C0541399',
        'C0520572', 'C0541400', 'C0541401', 'C0342804',
        ...
        'C1963730', 'C1997115', 'C1968556', 'C1997585', 'C1997589', 'C0155700',
        'C1969060', 'C1970195', 'C1971664', 'C1963847'],
       dtype='object', name='cui', length=106842),
 'Enzyme': Index(['C0010288', 'C0010744', 'C0015680', 'C0022920', 'C0600708', 'C0051898',
        'C0057667', 'C0064963', 'C0601214', 'C0066489',
        ...
        'C2003649', 'C1988546', 'C1975240', 'C1980797', 'C1999844', 'C2000845',
        'C1971953', 'C2001189', 'C2000153', 'C1980800'],
       dtype='object', name='cui', length=30606),
 'Eukaryote': Index(['C0000879', 'C0000881', 'C0000890', 'C0000892', 'C0001692', 'C0002028',
        'C0002031', 'C0002642', 'C0002824', 'C0002826',
        ...
        'C4534115', 'C4534258', 'C4534251', 'C4534252', 'C4534253', 'C4533794',
        'C4533793', 'C4534224', 'C4534056', 'C4544062'],
       dtype='object', name='cui', length=490451),
 'Finding': Index(['C0337629', 'C0337632', 'C0337677', 'C0337679', 'C0337682', 'C0337782',
        'C0033825', 'C0278936', 'C0278937', 'C0278938',
        ...
        'C1970282', 'C1970549', 'C1970564', 'C1970586', 'C1970602', 'C1970773',
        'C1970888', 'C1971793', 'C1997949', 'C1973538'],
       dtype='object', name='cui', length=302412),
 'Fish': Index(['C0010596', 'C1691760', 'C0446376', 'C0178873', 'C0259884', 'C0037613',
        'C0946707', 'C0328457', 'C0998755', 'C0998756',
        ...
        'C1973394', 'C1993770', 'C1992053', 'C1988681', 'C1994394', 'C1994768',
        'C1973001', 'C1972510', 'C1973090', 'C1987032'],
       dtype='object', name='cui', length=35380),
 'Fungus': Index(['C0032276', 'C0678165', 'C0682474', 'C0686866', 'C0686867', 'C0445351',
        'C0446002', 'C0446003', 'C0446004', 'C0446005',
        ...
        'C1975774', 'C1975769', 'C1975768', 'C1998455', 'C1988171', 'C1985620',
        'C1971843', 'C1975770', 'C1975765', 'C1975761'],
       dtype='object', name='cui', length=136625),
 'Gene or Genome': Index(['C0678928', 'C0678929', 'C0678933', 'C0678941', 'C0682970', 'C0683222',
        'C0683223', 'C0694897', 'C0702257', 'C0702258',
        ...
        'C1968827', 'C1970015', 'C1970246', 'C1415281', 'C1969662', 'C1333210',
        'C1823478', 'C1414521', 'C1970031', 'C1970174'],
       dtype='object', name='cui', length=75062),
 'Health Care Activity': Index(['C0199168', 'C0199169', 'C0199170', 'C0199171', 'C0199172', 'C0199173',
        'C0199174', 'C0199182', 'C0199183', 'C0033080',
        ...
        'C1964240', 'C1965703', 'C1965779', 'C1999199', 'C1964140', 'C1998118',
        'C1963556', 'C0848298', 'C1971330', 'C1964099'],
       dtype='object', name='cui', length=27036),
 'Immunologic Factor': Index(['C0206845', 'C0052097', 'C0057490', 'C0069673', 'C0604085', 'C0605001',
        'C0605015', 'C0061773', 'C0065255', 'C0052685',
        ...
        'C2000342', 'C2000532', 'C1978663', 'C1987126', 'C1987930', 'C1982653',
        'C1990512', 'C1974242', 'C1983751', 'C1975041'],
       dtype='object', name='cui', length=28035),
 'Indicator, Reagent, or Diagnostic Aid': Index(['C0066548', 'C0601117', 'C0069596', 'C0601430', 'C0601449', 'C0075331',
        'C0057253', 'C0050505', 'C0064137', 'C0060120',
        ...
        'C1967425', 'C1986753', 'C1995674', 'C1980108', 'C1967422', 'C1971372',
        'C1990314', 'C1986240', 'C1995689', 'C1967427'],
       dtype='object', name='cui', length=16900),
 'Injury or Poisoning': Index(['C0876994', 'C0280953', 'C0281342', 'C0393385', 'C0393387', 'C0393394',
        'C0393398', 'C0338377', 'C0338378', 'C0393536',
        ...
        'C1997434', 'C1997045', 'C1997260', 'C1963846', 'C2004340', 'C1997692',
        'C1963851', 'C1997496', 'C1997439', 'C1998329'],
       dtype='object', name='cui', length=111182),
 'Intellectual Product': Index(['C0220965', 'C0391807', 'C0338370', 'C0541458', 'C0150098', 'C0013113',
        'C0677510', 'C0677523', 'C0677540', 'C0677556',
        ...
        'C1998454', 'C1954084', 'C1986362', 'C1978499', 'C0554887', 'C1986367',
        'C1978745', 'C1978747', 'C1977580', 'C1990850'],
       dtype='object', name='cui', length=32978),
 'Laboratory Procedure': Index(['C0199501', 'C0199524', 'C0278344', 'C0278345', 'C0199919', 'C0200337',
        'C0200339', 'C0200340', 'C0200341', 'C0200342',
        ...
        'C1977574', 'C1978036', 'C1980052', 'C1987182', 'C1972670', 'C0020980',
        'C0373746', 'C1992625', 'C0587341', 'C1992684'],
       dtype='object', name='cui', length=33433),
 'Mammal': Index(['C0230956', 'C0325035', 'C0682503', 'C0682510', 'C0682511', 'C0325305',
        'C0682513', 'C0684069', 'C0684070', 'C0684071',
        ...
        'C1956050', 'C1960600', 'C1960598', 'C1997573', 'C1997328', 'C1996985',
        'C1991263', 'C1984874', 'C1996930', 'C1996940'],
       dtype='object', name='cui', length=13718),
 'Medical Device': Index(['C0878904', 'C0064121', 'C0149658', 'C0677048', 'C0184408', 'C0179037',
        'C0677438', 'C0677439', 'C0677441', 'C0677442',
        ...
        'C1995389', 'C0460776', 'C1360774', 'C1572616', 'C1995557', 'C1995415',
        'C1964749', 'C1964900', 'C1966453', 'C1971536'],
       dtype='object', name='cui', length=72243),
 'Molecular Function': Index(['C0678659', 'C0678697', 'C0678702', 'C0678703', 'C0678704', 'C0678705',
        'C0678706', 'C0678707', 'C0678708', 'C0678709',
        ...
        'C0301626', 'C0014439', 'C0025513', 'C0028605', 'C0022013', 'C0441687',
        'C0441690', 'C0312755', 'C1276857', 'C1963932'],
       dtype='object', name='cui', length=31774),
 'Neoplastic Process': Index(['C0496920', 'C0220597', 'C0278470', 'C0278471', 'C0278472', 'C0278473',
        'C1510422', 'C1510423', 'C0278485', 'C0278486',
        ...
        'C1963856', 'C1997765', 'C1996911', 'C1970250', 'C2004151', 'C1997530',
        'C1963679', 'C1997634', 'C1997254', 'C2004135'],
       dtype='object', name='cui', length=39724),
 'Nucleic Acid, Nucleoside, or Nucleotide': Index(['C0600694', 'C0600704', 'C0600733', 'C0049114', 'C0049099', 'C0047331',
        'C0050225', 'C0601042', 'C0601044', 'C0052241',
        ...
        'C1988317', 'C2000809', 'C1999692', 'C2002681', 'C1980810', 'C1972161',
        'C2000334', 'C2000555', 'C2003540', 'C1999372'],
       dtype='object', name='cui', length=11927),
 'Organic Chemical': Index(['C0005063', 'C0009235', 'C0541744', 'C0541745', 'C0003663', 'C0031435',
        'C0600334', 'C0003234', 'C0003240', 'C0037239',
        ...
        'C1974333', 'C1994589', 'C1987726', 'C1990946', 'C1966199', 'C1980206',
        'C2001320', 'C1968050', 'C1992113', 'C1992009'],
       dtype='object', name='cui', length=238710),
 'Pathologic Function': Index(['C0280233', 'C0281169', 'C0393137', 'C0393401', 'C0338376', 'C0338379',
        'C0393402', 'C0393403', 'C0393404', 'C0393405',
        ...
        'C1996973', 'C1997810', 'C1997708', 'C1997179', 'C1998400', 'C2004415',
        'C1997618', 'C1998010', 'C1997219', 'C1963940'],
       dtype='object', name='cui', length=26095),
 'Pharmacologic Substance': Index(['C0003212', 'C0005063', 'C0006524', 'C0037487', 'C0541744', 'C0012799',
        'C0017711', 'C0017712', 'C0019935', 'C0003663',
        ...
        'C2001210', 'C1966603', 'C1966700', 'C2001654', 'C1984725', 'C1987971',
        'C2002832', 'C1964064', 'C1990336', 'C1987474'],
       dtype='object', name='cui', length=165050),
 'Plant': Index(['C0019240', 'C0936082', 'C0282635', 'C0541488', 'C1145672', 'C0678440',
        'C0678450', 'C0678453', 'C0678454', 'C0678455',
        ...
        'C1992850', 'C1991524', 'C1992872', 'C1993771', 'C1994293', 'C1988647',
        'C1984858', 'C1984871', 'C1991040', 'C1974054'],
       dtype='object', name='cui', length=187030),
 'Quantitative Concept': Index(['C0229969', 'C0229970', 'C0229971', 'C0229972', 'C0229973', 'C0229974',
        'C0229975', 'C0229976', 'C0229977', 'C0278956',
        ...
        'C1972635', 'C1989525', 'C1976869', 'C1998480', 'C1991463', 'C1978009',
        'C1979711', 'C1971830', 'C1975903', 'C1976974'],
       dtype='object', name='cui', length=10855),
 'Sign or Symptom': Index(['C0221100', 'C0279456', 'C0393754', 'C0393757', 'C0393764', 'C0393765',
        'C0393766', 'C0393767', 'C0393903', 'C0393916',
        ...
        'C1997332', 'C1963889', 'C1963739', 'C1997818', 'C1971668', 'C1963939',
        'C1963789', 'C1963859', 'C1963936', 'C1971698'],
       dtype='object', name='cui', length=13888),
 'Substance': Index(['C0077420', 'C0605607', 'C0070478', 'C0068453', 'C0607005', 'C0609577',
        'C0609578', 'C0610171', 'C0610289', 'C0612151',
        ...
        'C1979564', 'C1979528', 'C1986470', 'C1979539', 'C1979517', 'C1979562',
        'C1979547', 'C1979514', 'C1979519', 'C1979548'],
       dtype='object', name='cui', length=10960),
 'Therapeutic or Preventive Procedure': Index(['C0197798', 'C0197799', 'C0197800', 'C0197801', 'C0197803', 'C0197804',
        'C0395551', 'C0197807', 'C0197808', 'C0197809',
        ...
        'C1995002', 'C1996934', 'C1997476', 'C1997560', 'C2004204', 'C1996856',
        'C2004089', 'C1964236', 'C1997326', 'C1964029'],
       dtype='object', name='cui', length=304798),
 'Virus': Index(['C0013480', 'C0014666', 'C0319132', 'C0080155', 'C0206413', 'C0206422',
        'C0206426', 'C0936089', 'C0206532', 'C0376498',
        ...
        'C1994710', 'C1988066', 'C1975394', 'C1988064', 'C1981928', 'C1972964',
        'C1990595', 'C1992156', 'C1986374', 'C1990596'],
       dtype='object', name='cui', length=23479)}

In [22]:
def typicalsamling(group):
    #name = group.name
    #n = typicalNDict[name]
    return group.sample(3000)

In [23]:
result = umls_sty.groupby('sty',group_keys=False).apply(typicalsamling)

In [24]:
result

                                      sty
cui
C4308464  Amino Acid, Peptide, or Protein
C0909860  Amino Acid, Peptide, or Protein
C1701243  Amino Acid, Peptide, or Protein
C1174899  Amino Acid, Peptide, or Protein
C0905670  Amino Acid, Peptide, or Protein
...                                   ...
C4001227                            Virus
C3765715                            Virus
C2672085                            Virus
C4167198                            Virus
C4345060                            Virus

[114000 rows x 1 columns]

In [25]:
result.columns

Index(['sty'], dtype='object')

In [26]:
result.index

Index(['C4308464', 'C0909860', 'C1701243', 'C1174899', 'C0905670', 'C0965019',
       'C0258767', 'C1257353', 'C0911854', 'C0626561',
       ...
       'C3915538', 'C0999858', 'C3001775', 'C3609536', 'C2276660', 'C4001227',
       'C3765715', 'C2672085', 'C4167198', 'C4345060'],
      dtype='object', name='cui', length=114000)

In [27]:
result.to_csv("umls_sty_samples.csv", sep="|", encoding="utf-8", header=None )

In [40]:
umls_sty = pd.read_csv("G:\\CEGNN\\materials\\umls\\umls_sty_samples.csv",
                       names=["cui", "sty"], delimiter="|", index_col=False, encoding="utf-8")

In [49]:
umls_rel = pd.read_csv("G:\\CEGNN\\materials\\umls\\umls_rel_RLRQSIBCHD.csv", names=["cui1", "cui2"], delimiter="\t", encoding="utf-8")

In [41]:
umls_sty.head()

        cui                              sty
0  C4308464  Amino Acid, Peptide, or Protein
1  C0909860  Amino Acid, Peptide, or Protein
2  C1701243  Amino Acid, Peptide, or Protein
3  C1174899  Amino Acid, Peptide, or Protein
4  C0905670  Amino Acid, Peptide, or Protein

In [50]:
umls_rel.head()

    cui1   cui2
0  39194  39194
1  39194  39194
2  39194  39194
3   4561   4561
4   4561   4561

In [51]:
cui = umls_sty["cui"].unique()

In [52]:
len(cui)

113707

In [53]:
cui = list(cui)

In [55]:
cui = [int(c[1:]) for c in cui]

In [57]:
umls_rel2 = umls_rel[(umls_rel["cui1"].isin(cui)) & (umls_rel["cui2"].isin(cui))]

In [59]:
umls_rel2.shape

(176123, 2)

In [61]:
umls_rel2.to_csv("umls_rel_sty.csv", sep="\t", encoding="utf-8", header=None)

In [62]:
umls_rel2["weight"] = 1

C:\softwares\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [64]:
umls_rel2.to_csv("umls_rel_sty_weight.csv", sep="\t", encoding="utf-8", header=None)

In [13]:
data = pd.read_csv("G:\\CEGNN\\materials\\umls\\umls_rel_sty.csv",
                       names=["index", "cui", "sty"], delimiter="\t", index_col=False, encoding="utf-8")

In [14]:
data.head()

   index    cui    sty
0     33   1480   1480
1     72  18346  18346
2     87  21584  21584
3    102  42947  42947
4    103  42947  42947

In [15]:
data = data[["cui", "sty"]]

In [16]:
data.head()

     cui    sty
0   1480   1480
1  18346  18346
2  21584  21584
3  42947  42947
4  42947  42947

In [9]:
data.to_csv("umls_rel_sty.csv", sep="\t", encoding="utf-8", header=None, index=None)

In [17]:
data.shape

(176123, 2)

In [18]:
data = data.drop_duplicates(keep="first")

In [19]:
data.shape

(58752, 2)

In [20]:
data["cui"].shape

(58752,)

In [23]:
data["cui"] = data["cui"].astype('str')
data["sty"] = data["sty"].astype('str')

In [32]:
c = data["cui"].tolist()

In [33]:
cc = data["sty"].tolist()

In [44]:
data.to_csv("umls_rel_sty.csv", sep="\t", encoding="utf-8", header=None, index=None)

In [38]:
ccc = c + cc

In [41]:
c = set(ccc)

In [45]:
ccui = pd.DataFrame()

In [48]:
ccui["cui"] = pd.Series(list(c))

In [50]:
ccui.to_csv("umls_cui_sty.csv", sep="\t", encoding="utf-8", header=None, index=None)

In [51]:
ccui.head()

       cui
0   324540
1  1272482
2  1656644
3  2542287
4   201998

In [52]:
cui_sty_label = pd.read_csv("G:\\CEGNN\\materials\\umls\\umls_sty_samples.csv",
                       names=[ "cui", "sty"], delimiter="|", index_col=False, encoding="utf-8")

In [53]:
cui_sty_label

             cui                              sty
0       C4308464  Amino Acid, Peptide, or Protein
1       C0909860  Amino Acid, Peptide, or Protein
2       C1701243  Amino Acid, Peptide, or Protein
3       C1174899  Amino Acid, Peptide, or Protein
4       C0905670  Amino Acid, Peptide, or Protein
...          ...                              ...
113995  C4001227                            Virus
113996  C3765715                            Virus
113997  C2672085                            Virus
113998  C4167198                            Virus
113999  C4345060                            Virus

[114000 rows x 2 columns]

In [62]:
ccc = ["C"+c for c in ccc]

In [64]:
cui_sty_label_t = cui_sty_label[cui_sty_label["cui"].isin(ccc)]

In [65]:
cui_sty_label_t.shape

(20623, 2)

In [67]:
cui_sty_label_t.head()

         cui                              sty
12  C4053948  Amino Acid, Peptide, or Protein
15  C0034830  Amino Acid, Peptide, or Protein
28  C4304270  Amino Acid, Peptide, or Protein
75  C0008396  Amino Acid, Peptide, or Protein
82  C0001655  Amino Acid, Peptide, or Protein

In [68]:
cui_sty_label_t.to_csv("umls_cui_sty_samples.csv", sep="|", encoding="utf-8", header=None, index=None)